extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="register", action="/register", method="post")
    span.label deviceID
    input(type="text", name="device_id", id="did")
    span.label UserId
    input(type="text", name="user_id", id="uid")
    input(type="submit", name="submit", text="register")

  ul
    each fresh in freshs
      li=  fresh.user_id + ':' + fresh.device_id
