extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="register", action="/register", method="post")
      input(type="text", name="device_id", id="did" text="device Id : ")
      input(type="text", name="user_id", id="uid", text="user Id : ")
      input(type="submit", name="submit", text="register")

  ul
    each moble in mobles
      li=  moble.user_id + ':' + moble.device_id
